

/**umb_name:Heading 1*/
h1 {
	font-size: 2.5rem;
}

/**umb_name:Heading 2*/
h2 {
	font-size: 2rem;
}

/**umb_name:Heading 3*/
h3 {
	font-size: 1.75rem;
}

/**umb_name:Heading 4*/
h4 {
	font-size: 1.5rem;
}

/**umb_name:Heading 5*/
h5 {
	font-size: 1.25rem;
}

/**umb_name:Heading 6*/
h6 {
	font-size: 1.15rem;
}
