﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    Layout = null;
    var sentence = Model.MacroParameters["Title"];
    var text = Model.MacroParameters["Text"];
    var position = Model.MacroParameters["Position"];
    var style = Model.MacroParameters["Style"];
    var positionStyle = "top";
}

@switch (position)
{
    case "Top":
        positionStyle = "Top";
        break;
    case "Bottom":
        positionStyle = "Bottom";
        break;
    case "Left":
        positionStyle = "Left";
        break;
    case "Right":
        positionStyle = "Right";
        break;
}

<a href="#" data-toggle="tooltip" data-placement="@positionStyle" title="@text">@sentence</a>
@*@switch (type)
{
    case "Button":
        <button id="@title" type="button" class="@style" data-toggle="tooltip" title="@text">
            @title
        </button>

        break;
}*@
