﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models
@{
    var items = Model.Value<IEnumerable<IPublishedElement>>("accordionCard");
    int i = 0;
}

@if (items.Count() > 0)
{
    <div id="accordion" role="tablist">
        @foreach (var item in items)
        {
            i++;
            string headingId = "heading" + i;
            string collapseId = "collapse" + i;
            var title = item.Value("title");
            var text = item.Value("mainBody");
            var allLinks = item.Value<IEnumerable<Link>>("link");
            var image = item.Value<IPublishedContent>("image");

            if (i == 1)
            {
                <div class="card">
                    <div class="card-header" id="@headingId">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
                                @title
                            </button>
                        </h5>
                    </div>
                    <div id="@collapseId" class="collapse show" role="tabpanel" aria-labelledby="@headingId" data-parent="#accordion">
                        <div class="card-body">
                            @if (image != null)
                            {
                                <img class="card-img-top" style="width:auto" src="@image.GetCropUrl()" alt="@image.Name" />
                            }
                            @text
                            @if (allLinks != null)
                            {
                                foreach (var selLink in allLinks)
                                {
                                    <a href="@selLink.Url" class="card-link" target="@selLink.Target">@selLink.Name</a>
                                    <br />
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-header" id="@headingId">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                @title
                            </button>
                        </h5>
                    </div>
                    <div id="@collapseId" class="collapse" role="tabpanel" aria-labelledby="@headingId" data-parent="#accordion">
                        <div class="card-body">
                            @if (image != null)
                            {
                                <img class="card-img-top" style="width:auto" src="@image.GetCropUrl()" alt="@image.Name" />
                            }
                            @text
                            @if (allLinks != null)
                            {
                                foreach (var selLink in allLinks)
                                {
                                    <a href="@selLink.Url" class="card-link" target="@selLink.Target">@selLink.Name</a>
                                    <br />
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}