﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web.Models;
@{
    var parent = Umbraco.AssignedContentItem;
    var alert = Model.ContentType;
    string sTypes = Model.Value<string>("AlertType");
    string title = Model.Value<string>("Title");
    string subTitle = Model.Value<string>("SubTitle");
    bool animated = Model.Value<bool>("Animated");
    var image = Model.Value<IPublishedContent>("image");
    var allLinks = Model.Value<IEnumerable<Link>>("link");

    var helper = Umbraco;

    var alertType = "";
    switch (sTypes)
    {
        case "Primary":
            alertType = "alert alert-primary alert-dismissable";
            break;

        case "Secondary":
            alertType = "alert alert-secondary alert-dismissable";
            break;

        case "Success":
            alertType = "alert alert-success alert-dismissable";
            break;

        case "Danger":
            alertType = "alert alert-danger alert-dismissable";
            break;

        case "Warning":
            alertType = "alert alert-warning alert-dismissable";
            break;

        case "Info":
            alertType = "alert alert-info alert-dismissable";
            break;

        case "Light":
            alertType = "alert alert-light alert-dismissable";
            break;

        case "Dark":
            alertType = "alert alert-dark alert-dismissable";
            break;
    }
}
@if (animated.Equals(true))
{
    var animatedTxt = "fade show";
    alertType += " " + animatedTxt;
}

@if (allLinks.Count() > 0)
{
    foreach (var item in allLinks)
    {
        if (item.Target.Equals(""))
        {
            <input id="myAlert-@Model.Key" type="button" value="@subTitle Click here" data-title="@title" data-alert-type="@alertType"
                   data-subtitle="@subTitle" data-link-name="@item.Name" data-link-url="@item.Url" class="@alertType" />
        }
        else
        {
            <input id="myAlert-@Model.Key" type="button" value="@subTitle Click here" data-title="@title" data-alert-type="@alertType"
                   data-subtitle="@subTitle" data-link-name="@item.Name" data-link-url="@item.Url" data-target="@item.Target" class="@alertType" />
        }

    }
}
else
{
    <input id="myAlert-@Model.Key" type="button" value="@subTitle Click here" data-title="@title" data-alert-type="@alertType"
           data-subtitle="@subTitle" class="@alertType" />
}
<div id="show_Alert" class="alert"></div>

