﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{

    Layout = null;
    var title = Model.Value<string>("Title");
    var style = Model.Value<string>("Style");
    var heading = Model.Value<string>("Heading");
    var headingSize = Model.Value<string>("HeadingSize") == null ? "H6" : Model.Value<string>("HeadingSize");
    var pill = Model.Value<bool>("PillStyle");
    var styleClass = "badge";
    var size = "h6";
}

@if (pill.Equals(true))
{
    styleClass += " " + "badge-pill";
}

@switch (style)
{
    case "Primary":
        styleClass += " " + "badge-primary";
        break;
    case "Secondary":
        styleClass += " " + "badge-secondary";
        break;
    case "Success":
        styleClass += " " + "badge-success";
        break;
    case "Danger":
        styleClass += " " + "badge-danger";
        break;
    case "Warning":
        styleClass += " " + "badge-warning";
        break;
    case "Info":
        styleClass += " " + "badge-info";
        break;
    case "Light":
        styleClass += " " + "badge-light";
        break;
    case "Dark":
        styleClass += " " + "badge-dark";
        break;
}

@switch(headingSize)
{
    case "H1":
        size = "h1";
        break;
    case "H2":
        size = "h2";
        break;
    case "H3":
        size = "h3";
        break;
    case "H4":
        size = "h4";
        break;
    case "H5":
        size = "h5";
        break;
    case "H6":
        size = "h6";
        break;
}

@if (heading != null)
{
    <@headingSize>
        <span class="@styleClass">
            @heading
        </span>
    </@headingSize>
}
else
{
    <span class="@styleClass">
        @title
    </span>
}
