﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@{
    Layout = null;
    var title = Model.Value<string>("title");
    var position = Model.Value<string>("position");
    var groupSize = Model.Value<string>("size");
    var nested = Model.Value<bool>("nesting");
    var justified = Model.Properties.Where(x => x.Alias == "justified").First().Value();
    var allButtons = Model.Value<IEnumerable<IPublishedElement>>("button");

    //Default values for styles
    var btnGrpPosition = "btn-group";
    var btnGrpSize = "btn-default btn-lg";
    var grpJustified = "btn-group-justified";
    var groupStyle = "btn-group";
}

@switch (position)
{
    case "Horizontal":
        btnGrpPosition = "btn-group";
        groupStyle = btnGrpPosition;
        break;
    case "Vertical":
        btnGrpPosition = "btn-group-vertical";
        groupStyle = btnGrpPosition;
        break;
}


@switch (groupSize)
{
    case "Large":
        btnGrpSize = "btn-group-lg";
        groupStyle += " " + btnGrpSize;
        break;
    case "Small":
        btnGrpSize = "btn-group-sm";
        groupStyle += " " + btnGrpSize;
        break;
    case "Ex Small":
        btnGrpSize = "btn-group-xs";
        groupStyle += " " + btnGrpSize;
        break;
    case "Default":
        btnGrpSize = "btn-group";
        groupStyle += " " + btnGrpSize;
        break;
}



<div class="@groupStyle" role="group" aria-label="@title">
    @foreach (var btn in allButtons)
    {
       @Html.Partial("NestedContent/Button", btn);
    }
</div>