﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{

    Layout = null;
    var btnTitle = Model.Value<string>("title");
    var btnType = Model.Value<string>("buttonType");
    var btnSize = Model.Value<string>("size");
    var btnOutline = Model.Value<bool>("outline");
    var nested = Model.Value<bool>("nested");
    var btnBlock = Model.Value<bool>("block");
    var spinner = Model.Value<IEnumerable<IPublishedElement>>("spinner");
    var tooltip = Model.Value<IEnumerable<IPublishedElement>>("tooltip");
    var typeStyle = "btn btn-primary";
    var outlineTypeStyle = "btn btn-primary";
    bool drpDown = false;


    switch (btnType)
    {
        case "Primary":
            typeStyle = "btn btn-primary";
            break;
        case "Secondary":
            typeStyle = "btn btn-secondary";
            break;
        case "Success":
            typeStyle = "btn btn-success";
            break;
        case "Danger":
            typeStyle = "btn btn-danger";
            break;
        case "Warning":
            typeStyle = "btn btn-warning";
            break;
        case "Info":
            typeStyle = "btn btn-info";
            break;
        case "Light":
            typeStyle = "btn btn-light";
            break;
        case "Dark":
            typeStyle = "btn btn-dark";
            break;
        case "Link":
            typeStyle = "btn btn-link";
            break;
    }
    if (btnOutline.Equals(true))
    {
        switch (btnType)
        {
            case "Primary":
                outlineTypeStyle = "btn btn-outline-primary";
                break;
            case "Secondary":
                outlineTypeStyle = "btn btn-outline-secondary";
                break;
            case "Success":
                outlineTypeStyle = "btn btn-outline-success";
                break;
            case "Danger":
                outlineTypeStyle = "btn btn-outline-danger";
                break;
            case "Warning":
                outlineTypeStyle = "btn btn-outline-warning";
                break;
            case "Info":
                outlineTypeStyle = "btn btn-outline-info";
                break;
            case "Light":
                outlineTypeStyle = "btn btn-outline-light";
                break;
            case "Dark":
                outlineTypeStyle = "btn btn-outline-dark";
                break;
        }
    }

    var btnImage = Model.Properties.Where(x => x.Alias == "image").First().Value();
    var btnLink = Model.Properties.Where(x => x.Alias == "link").First().Value();

    var btnActive = Model.Properties.Where(x => x.Alias == "active").First().Value();
    var btnDisabled = Model.Properties.Where(x => x.Alias == "disabled").First().Value();
    var allLinks = Model.Value<IEnumerable<Link>>("link");
    var subGroup = Model.Value<IEnumerable<IPublishedElement>>("subGroup");
    //var image = Model.Properties.Where(x => x.Alias == "image").First().Value<IPublishedElement>("Url");
    var badge = Model.Value<IEnumerable<IPublishedElement>>("badge");
    var image = Model.Value<IEnumerable<IPublishedElement>>("btnImage").FirstOrDefault();
    var toolTipTitle = "";
    var toolTipText = "";
    var toolTipPosition = "";

    if (subGroup.Count() > 0)
    {
        drpDown = true;
    }

}

@if (!btnSize.Equals("Default"))
{
    var sizeText = btnSize.Equals("Small") ? "btn-sm" : "btn-lg";
    outlineTypeStyle += " " + sizeText;
    typeStyle += " " + sizeText;
}

@if (btnActive.Equals(true))
{
    var activeText = "active";
    outlineTypeStyle += " " + activeText;
    typeStyle += " " + activeText;
}

@if (btnDisabled.Equals(true))
{
    var disabledText = "disabled";
    outlineTypeStyle += " " + disabledText;
    typeStyle += " " + disabledText;
}

@if (btnBlock.Equals(true))
{
    var blockText = "btn-block";
    outlineTypeStyle += " " + blockText;
    typeStyle += " " + blockText;
}

@if (tooltip.Count() > 0)
{
    foreach (var t in tooltip)
    {
        var toolTipStyle = btnOutline.Equals(true) ? outlineTypeStyle : typeStyle;
        toolTipTitle = t.Value<string>("title");
        toolTipText = t.Value<string>("text");
        toolTipPosition = t.Value<string>("position");
        @*@Umbraco.RenderMacro("tooltip", new { type = toolTipType, title = btnTitle, text = toolTipText, position = toolTipPosition, style = toolTipStyle })*@
    }
}
@*Nested group within the button*@
@if (nested.Equals(true))
{
    outlineTypeStyle += " " + "dropdown-toggle";
    typeStyle += " " + "dropdown-toggle";

    @*No Image*@
    if (image == null)
    {
        @*Links are there*@
        if (allLinks.Count() > 0)
        {
            foreach (var selLink in allLinks)
            {
                <a href="@selLink.Url" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" role="button" aria-disabled="@(btnDisabled.Equals(true)? "true" : "")">
                    @btnTitle
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                </a>
            }
        }//Has Links
        else
        {
            if (tooltip.Count() > 0)
            {
                <button id="@btnTitle" type="button" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" data-toggle="@(drpDown.Equals(true) ? "dropdown" : "")"
                        data-toggle-second="tooltip" data-placement="@toolTipPosition" title="@toolTipText">
                    @btnTitle
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                    @if (spinner != null)
                    {
                        foreach (var s in spinner)
                        {
                            @Html.Partial("NestedContent/Spinner", s);
                        }
                    }
                </button>
            }
            else
            {
                <button id="@btnTitle" type="button" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" data-toggle="@(drpDown.Equals(true) ? "dropdown" : "")">
                    @btnTitle
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                    @if (spinner != null)
                    {
                        foreach (var s in spinner)
                        {
                            @Html.Partial("NestedContent/Badge", s);
                        }
                    }
                </button>
            }
        }//No Links
    }//No Image
    else
    {
        @*Links are there*@
        if (allLinks.Count() > 0)
        {
            foreach (var selLink in allLinks)
            {
                //Add the image
                <a href="@selLink.Url" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" role="button" aria-disabled="@(btnDisabled.Equals(true) ? "true" : "")">
                    @*<img src="@image">@btnTitle*@
                    @Html.Partial("NestedContent/ImageContent", image)
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                    @if (spinner != null)
                    {
                        foreach (var s in spinner)
                        {
                            @Html.Partial("NestedContent/Badge", s);
                        }
                    }
                </a>
            }
        }
        else
        {
            if (tooltip.Count() > 0)
            {
                <button id="@btnTitle" type="button" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" data-toggle="@(drpDown.Equals(true) ? "dropdown" : "")"
                        data-toggle-second="tooltip" data-placement="@toolTipPosition" title="@toolTipText">
                    @btnTitle
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                    @if (spinner != null)
                    {
                        foreach (var s in spinner)
                        {
                            @Html.Partial("NestedContent/Spinner", s);
                        }
                    }
                </button>
            }
            else
            {
                @*There is an image*@
                <button id="@btnTitle" type="button" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" data-toggle="@(drpDown.Equals(true) ? "dropdown" : "")">
                    @Html.Partial("NestedContent/ImageContent", image)
                    @*<img src="@image">*@
                    @btnTitle
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                    @if (spinner != null)
                    {
                        foreach (var s in spinner)
                        {
                            @Html.Partial("NestedContent/Badge", s);
                        }
                    }
                </button>
            }
        }
    }

    <div class="dropdown-menu" aria-labelledby="@btnTitle">
        @foreach (var item in subGroup)
        {
            <a class="dropdown-item" href="#">@Html.Partial("NestedContent/ButtonGroup", item)</a>
        }
    </div>
}
//Not Nested
else
{
    @*There are no images*@
    if (image == null)
    {
        @*Links are there*@
        if (allLinks.Count() > 0)
        {
            foreach (var selLink in allLinks)
            {
                <a href="@selLink.Url" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" role="button" aria-disabled="@(btnDisabled.Equals(true) ? "true" : "")">@btnTitle</a>
            }
        }
        else
        {
            //Tooltip has been added
            if (tooltip.Count() > 0)
            {
                <button id="@btnTitle" type="button" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" data-toggle="@(drpDown.Equals(true) ? "dropdown" : "")"
                        data-toggle-second="tooltip" data-placement="@toolTipPosition" title="@toolTipText">
                    @btnTitle
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                    @if (spinner != null)
                    {
                        foreach (var s in spinner)
                        {
                            @Html.Partial("NestedContent/Spinner", s);
                        }
                    }
                </button>
            }
            else
            {
                <button id="@btnTitle" type="button" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" data-toggle="@(drpDown.Equals(true) ? "dropdown" : "")">
                    @btnTitle
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                    @if (spinner != null)
                    {
                        foreach (var s in spinner)
                        {
                            @Html.Partial("NestedContent/Spinner", s);
                        }
                    }
                </button>
            }//No tooltip
        }//has links
    }//no Images
     //Has Images
    else
    {
        @*Links are there*@
        if (allLinks.Count() > 0)
        {
            foreach (var selLink in allLinks)
            {
                <a href="@selLink.Url" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" role="button" aria-disabled="@(btnDisabled.Equals(true) ? " true" : "" )">
                    @*<img src="@image"> @btnTitle*@
                    @Html.Partial("NestedContent/ImageContent", image)
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                </a>
            }
        }//Links
        else
        {
            //Tooltip has been added
            if (tooltip.Count() > 0)
            {
                <button id="@btnTitle" type="button" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" data-toggle="@(drpDown.Equals(true) ? "dropdown" : "")"
                        data-toggle-second="tooltip" data-placement="@toolTipPosition" title="@toolTipText">
                    @btnTitle
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                    @if (spinner != null)
                    {
                        foreach (var s in spinner)
                        {
                            @Html.Partial("NestedContent/Spinner", s);
                        }
                    }
                </button>
            }
            else
            {
                <button id="@btnTitle" type="button" class="@(btnOutline.Equals(true) ? outlineTypeStyle : typeStyle)" data-toggle="@(drpDown.Equals(true) ? "dropdown" : "")">
                    @Html.Partial("NestedContent/ImageContent", image)
                    @*<img src="@image">*@
                    @if (badge != null)
                    {
                        foreach (var b in badge)
                        {
                            @Html.Partial("NestedContent/Badge", b);
                        }
                    }
                    @if (spinner != null)
                    {
                        foreach (var s in spinner)
                        {
                            @Html.Partial("NestedContent/Badge", s);
                        }
                    }                   
                </button>
            }
        }//No Links
    }//Has Images
}


