﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web.Models;
@{
    var cardList = Model.Value<IEnumerable<IPublishedElement>>("cards");
}

<div class="card-deck">
    @foreach(var card in cardList)
    {
        @Html.Partial("NestedContent/Card", card)
    }
</div>
