﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{
    var title = Model.Value<string>("title");
    var subTitle = Model.Value<string>("subTitle");
    var body = Model.Value<dynamic>("mainBody");
    var image = Model.Value<IPublishedContent>("image");
    var link = Model.Value<Link>("link");
    string header = Model.Value<string>("header");
    string footer = Model.Value<string>("footer");
}
<div class="card" style="max-width: 50%;">
    @if (!string.IsNullOrEmpty(header))
    {
        <div class="card-header">@header</div>
    }

    @if (Model.Value<string>("imagePosition") == "Top" || String.IsNullOrWhiteSpace(Model.Value<string>("imagePosition")))
    {
        if (image != null)
        {
            <img class="card-img-top" src="@image.GetCropUrl()" alt="@image.Name" />
        }
    }
    @if (Model.Value<string>("imagePosition") == "Overlay")
    {
        if (image != null)
        {
            <img class="card-img" src="@image.GetCropUrl()" alt="@image.Name" />
        }
    }

    <div class="@(Model.Value<string>("imagePosition") == "Overlay" ? "card-img-overlay" : "card-body")">
        <h5 class="card-title">@title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@subTitle</h6>
        <p class="card-text">@body.Replace(Environment.NewLine, "<br />")</p>

        @if (link != null)
        {
            <a href="@link.Url" class="card-link" target="@link.Target">@link.Name</a>
        }
    </div>

    @if (Model.Value<string>("imagePosition") == "Bottom")
    {
        if (image != null)
        {
            <img class="card-img-bottom" src="@image.GetCropUrl()" alt="@image.Name" />
        }
    }

    @if (!string.IsNullOrEmpty(footer))
    {
        <div class="card-footer text-muted">@footer</div>
    }
</div>