﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@{
    Layout = null;
    var carouselTitle = Model.Value<string>("title");
    var indicators = Model.Value<bool>("withIndicators");
    bool invertIndicator = Model.Value<bool>("invertIndicators");
    var controls = Model.Value<bool>("withControls");
    var captions = Model.Value<bool>("withCaptions");
    var crossFade = Model.Value<bool>("withCrossFade");
    var interval = Model.Value<bool>("hasInterval");
    var intervalTime = Model.Value<decimal>("intervalTime");

    var totalSlides = Model.Value<IEnumerable<IPublishedElement>>("slides");
    var title = "current";
    var slideCount = 0;
    var carouselStyle = "carousel slide";
}

@if (crossFade.Equals(true))
{
    carouselStyle += " " + "carousel-fade";
}

<div class="row mb-2 justify-content-center">
    <div class="col-8">
        <div class="@carouselStyle" data-ride="carousel" id="carousel_@title" data-interval="@(interval.Equals(true) ? intervalTime : 0)">

            <div class="carousel-inner">

                @foreach (var item in totalSlides)
                {
                    var slideTitle = item.Value<string>("title");
                    var slideSubTitle = item.Value<string>("subTitle");
                    var slideMain = item.Value("mainBody");
                    var slideCaption = item.Value<string>("captionLabel");
                    var slideStyle = captions.Equals(true) ? "carousel-caption d-md-block" : "d-md-block w-75";
                    var selImage = item.GetProperty("image").Value<IPublishedContent>("Url");
                    var imageWidth = "d-block w-100";

                    <div class="carousel-item @(slideCount == 0 ? "active" : "")">
                        <div class="container carousel-hero">
                            @if (selImage != null)
                            {
                                <img class="d-block w-100" src="@selImage.Url" style="@imageWidth" alt="@selImage.Name" />
                            }
                            <div class="@slideStyle">
                                <h2 class="hero-title">@slideTitle</h2>
                                <p class="hero-subtitle">@slideSubTitle</p>
                                @slideMain
                            </div>
                        </div>
                    </div>
                    slideCount++;
                }
            </div>
            @if (controls.Equals(true))
            {
                if (invertIndicator)
                {
                    <a class="carousel-control-prev" href="#carousel_@title" role="button" data-slide="prev" style="filter:invert(100%)">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#carousel_@title" role="button" data-slide="next" style="filter:invert(100%)">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                }
                else
                { 
                    <a class="carousel-control-prev" href="#carousel_@title" role="button" data-slide="prev" >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#carousel_@title" role="button" data-slide="next" >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                }

            }

            @if (indicators.Equals(true))
            {
                <ol class="carousel-indicators" style="color:black">
                    @for (int i = 0; i < slideCount; i++)
                    {
                        <li data-target="#carousel_@title" data-slide-to="@i" class="@(i == 0 ? "active" : null)"></li>
                    }
                </ol>
            }
        </div>
    </div>
</div>