﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web
@using ClientDependency.Core.Mvc
@using ClientDependency.Core
@{
    Html.RequiresJs("~/framework/plyr/plyr.polyfilled.min.js", 1);
    Html.RequiresJs("~/scripts/embeddedlocalvideo.js", 2);
    Html.RequiresCss("~/framework/plyr/plyr.css");

    Layout = null;
    var video = Model.Value<IPublishedContent>("video");
    string posterUrl = null;
    if (Model.HasValue("poster"))
    {
        posterUrl = Model.Value<IPublishedContent>("poster").Url;
    }
}

@if (video != null)
{
    <div class="row">
        <div class="col">
            <video playsinline controls data-poster="@posterUrl" class="js-player">
                <source src="@video.Url" type="video/mp4" />
                <!-- Captions are optional -->
                @if (Model.HasValue("captions"))
                {
                    var captions = Model.Value<IPublishedContent>("captions");
                    <track kind="captions" label="English captions" src="@captions.Url" srclang="en" default />
                }
            </video>
        </div>
    </div>
}
