﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web
@using ClientDependency.Core.Mvc
@using ClientDependency.Core
@{
    Html.RequiresJs("~/framework/plyr/plyr.polyfilled.min.js", 1);
    Html.RequiresJs("~/scripts/embeddedlocalvideo.js", 2);
    Html.RequiresCss("~/framework/plyr/plyr.css");

    Layout = null;
    var embedId = Model.Value<string>("embedId");
}
<div class="row">
    <div class="col">
        <div data-plyr-provider="vimeo" data-plyr-embed-id="@embedId" class="js-player"></div>
    </div>
</div>