﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var padding = String.IsNullOrEmpty(Model.Value<string>("padding")) ? "3" : Model.Value<string>("padding");
}

<hr class="my-@padding" />
