﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@{
    Layout = null;
    var image = Model.Value<IPublishedContent>("image");
    var imageAlign = Model.Value<string>("imageAlign") == null ? "left" : Model.Value<string>("imageAlign").ToLower();
    var caption = Model.Value<string>("caption");
    var captionAlign = Model.Value<string>("align") == null ? "left" : Model.Value<string>("align").ToLower();
}

@if (image != null)
{
    <div class="row">
        <div class="col">
            <div class="clearfix text-@imageAlign">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded" src="@image.GetCropUrl()" alt="@image.Name">
                    <figcaption class="figure-caption text-@captionAlign">@caption</figcaption>
                </figure>
            </div>
        </div>
    </div>
}
