﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@{
    Layout = null;
    var title = Model.Value<string>("title");
    var body = Model.Value<dynamic>("mainBody");
    var fluid = Model.Value<bool>("fluid");
    var styleClass = fluid.Equals(true) ? " jumbotron jumbotron-fluid" : "jumbotron";
    var subSection = Model.Value<string>("section");
    var link = Model.Value<string>("moreInfo");

}
<div class="row">
    <div class="col">
        @if (fluid)
        {
            <div class="@styleClass">
                <div class="container">
                    <h1 class="display-4">@title</h1>
                    <div class="lead">@body</div>

                    @if (!string.IsNullOrWhiteSpace(subSection))
                    {
                        <hr class="my-4">
                        <p>@subSection</p>
                    }

                    @if (link != "")
                    {
                        <a class="btn btn-primary btn-lg" href="@link" role="button">Learn more</a>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="@styleClass">
                <h1 class="display-4">@title</h1>
                <div class="lead">@body</div>

                @if (!string.IsNullOrWhiteSpace(subSection))
                {
                    <hr class="my-4">
                    <p>@subSection</p>
                }

                @if (link != "")
                {
                    <a class="btn btn-primary btn-lg" href="@link" role="button">Learn more</a>
                }
            </div>
        }
    </div>
</div>