﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web.Models;
@{
    IPublishedContent newsListing = Model.Value<IPublishedContent>("newsListing");
    var newsItems = newsListing.Children;
}
<div class="row">
    @foreach(var newsItem in newsItems)
    {
        var image = newsItem.Value<IPublishedContent>("image");
        DateTime date = newsItem.Value<DateTime>("date");
        <div class="col-lg-4" style="margin-bottom: 30px">
            <div class="navigation-panel">
                <img class="img-fluid" src="@image.Url">
                <h3><a href="@newsItem.Url">@newsItem.Name</a></h3>
                <p><small class="text-muted">@date.ToString("dd/MM/yyyy")</small></p>
                <p>@newsItem.Value("shortSummary")</p>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col">
        <div class="text-center">
            <a class="btn btn-primary" href="@newsListing.Url">View all news</a>
        </div>
    </div>
</div>