﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web.Models;
@{
    Layout = null;
    var links = Model.Value<Link>("item");
}

@if(links != null)
{
    <a href="@links.Url" target="@links.Target">@links.Name</a>
}
