﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{
    Layout = null;
    var title = Model.Value<string>("title");
    var position = Model.Value<string>("position");
    var flush = Model.Value<bool>("flush");
    var numbered = Model.Value<bool>("numbered");
    var numberType = Model.Value<string>("numberType");
    var bulleted = Model.Value<bool>("bulleted");
    var bulletType = Model.Value<string>("bulletType") == "" ? "disc": Model.Value<string>("bulletType");
    var allListItems = Model.Value<IEnumerable<IPublishedElement>>("items");
    var type = Model.Value<string>("type");
    var grpPosition = "list-group";
    //var itemStyle = "list-group-item d-flex";
    var conStyle = "";
    var numberStyle = "1";
}

@switch (position)
{
    case "Horizontal":
        if (numbered)
        {
            grpPosition = "list-group-horizontal";
        }
        else
        {
            grpPosition += " " + "list-group-horizontal";
        }

        grpPosition += " " + (flush.Equals(true) ? "list-group-flush" : "");
        break;
    case "Vertical":
        grpPosition += " " + "list-group-vertical";
        grpPosition += " " + (flush.Equals(true) ? "list-group-flush" : "");
        break;
}

@if (type != null)
{
    switch (type)
    {
        case "Primary":
            conStyle = "list-group-item-primary";
            break;
        case "Secondary":
            conStyle = "list-group-item-secondary";
            break;
        case "Success":
            conStyle = "list-group-item-success";
            break;
        case "Danger":
            conStyle = "list-group-item-danger";
            break;
        case "Warning":
            conStyle = "list-group-item-warning";
            break;
        case "Info":
            conStyle = "list-group-item-info";
            break;
        case "Light":
            conStyle = "list-group-item-light";
            break;
        case "Dark":
            conStyle = "list-group-item-dark";
            break;
    }
}

@if(numbered && numberType != null)
{
    switch (numberType)
    {
        case "Numbers":
            numberStyle = "1";
            break;
        case "Uppercase":
            numberStyle = "A";
            break;
        case "Lowercase":
            numberStyle = "a";
            break;
        case "Roman":
            numberStyle = "I";
            break;
    }
}

<div class="row mb-2">
    <div class="col-12">
        <ul type ="" class="@grpPosition">
            @if (!numbered)
            {
                foreach (var listItem in allListItems)
                {
                    var label = listItem.Value<string>("label");
                    var active = listItem.Value<bool>("active");
                    var badge = listItem.Value<IEnumerable<IPublishedElement>>("badge");
                    var disabled = listItem.Value<bool>("disabled");
                    var allLinks = listItem.Value<IEnumerable<Link>>("link");
                    var heading = listItem.Value<string>("heading");
                    var itemStyle = "list-group-item flex-column";
                    var style = itemStyle + " " + conStyle;

                    if (bulleted)
                    {
                        itemStyle = "list-group-flush ml-5";
                    }

                    <li type="@bulletType" class="@(type == "" ? itemStyle : style)">
                        @if (disabled.Equals(true))
                        {
                            style += " " + "disabled";
                            itemStyle += " " + "disabled";
                        }

                        @if (active.Equals(true))
                        {
                            style += " " + "active";
                            itemStyle += " " + "active";
                        }

                        @if (!string.IsNullOrEmpty(heading))
                        {
                            @*<div class="d-flex w-100 justify-content-between">*@
                                <h5 class="mb-1">@heading</h5>
                            @*</div>*@
                        }
                        @if (badge != null)
                        {
                            foreach (var b in badge)
                            {
                                <div class="d-flex w-100 justify-content-between">
                                    @label
                                    @Html.Partial("NestedContent/Badge", b)
                                </div>
                            }
                        }
                        @if (badge == null)
                        {
                            @label
                        }
                    </li>
                }
                
            }
           
            @if (numbered)
            {
                <ol type="@numberStyle">
                    @foreach (var listItem in allListItems)
                    {
                        var label = listItem.Value<string>("label");
                        var active = listItem.Value<bool>("active");
                        var badge = listItem.Value<IEnumerable<IPublishedElement>>("badge");
                        var disabled = listItem.Value<bool>("disabled");
                        var allLinks = listItem.Value<IEnumerable<Link>>("link");
                        var heading = listItem.Value<string>("heading");
                        var itemStyle = "list-group-item flex-column";
                        var style = itemStyle + " " + conStyle;

                        if (disabled.Equals(true))
                        {
                            style += " " + "disabled";
                            itemStyle += " " + "disabled";
                        }

                        if (active.Equals(true))
                        {
                            style += " " + "active";
                            itemStyle += " " + "active";
                        }

                        <li>
                            @if (!string.IsNullOrEmpty(heading))
                            {
                                @*<div class="d-flex w-100 justify-content-between">*@
                                    <h5 class="mb-1">@heading</h5>
                                @*</div>*@
                            }
                            @if (badge != null)
                            {
                                foreach (var b in badge)
                                {
                                    <div class="d-flex w-100 justify-content-between">
                                        @label
                                        @Html.Partial("NestedContent/Badge", b)
                                    </div>
                                }
                            }
                            @if (badge == null)
                            {
                                @label
                            }
                        </li>

                    }
                </ol>
            }
        </ul>
    </div>
</div>
