﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web.Models;
@{
    var messages = Model.Value<IEnumerable<IPublishedElement>>("messageModals");
    var i = 0;
    var j = 0;
}
<div class="row mb-2">
    @foreach (var message in messages)
    {
        j++;
        string modalId = "#modal" + j;
        var image = message.Value<IPublishedContent>("image");
        <div class="col-lg-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="@modalId">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid" src="@image.Url">
                        </div>
                        <div class="col">
                            <p>@message.Value("introduction")<br/><strong>@message.Value("messenger")</strong></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

@foreach (var message in messages)
{
    i++;
    string modalId = "modal" + i;
    string modalLabelId = "modalLabel" + i;

    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="@modalLabelId" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="@modalLabelId">@message.Value("heading")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @message.Value("message")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}