﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{
    Layout = null;
    var Id = Model.ContentType.Id;
    string inTitle = Model.Value<string>("Title");
    string subTitle = Model.Value<string>("SubTitle");
    string header = Model.Value<string>("Header");
    string footer = Model.Value<string>("Footer");
    var imageList = Model.Properties.Where(x => x.Alias == "image").ToList();
    var ModalStyles = Model.Value<IEnumerable<IPublishedElement>>("modalStyle");
    var allTooltips = Model.Value<IEnumerable<IPublishedElement>>("tooltip");
    var allLinks = Model.Value<IEnumerable<Link>>("link");
    var mwStyle = "modal-dialog";
    var overallStyle = "modal fade";
    string title = inTitle.Replace(" ", "");

}

<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@title">
        Open modal window
    </button>
</div>

@foreach (var mStyle in ModalStyles)
{
    var central = mStyle.GetProperty("modalType").Value();

    switch (central)
    {
        case "Central":
            //mwStyle += " " + "cascading-modal";
            var modSize = "";
            var size = mStyle.GetProperty("centralSize").Value();
            //Medium is the default size so not included
            if (size.Equals("Small"))
            {
                modSize = "modal-sm";
            }
            if (size.Equals("Large"))
            {
                modSize = "modal-lg";
            }
            if (size.Equals("Fluid"))
            {
                modSize = "modal-fluid";
            }
            overallStyle += " " + " " + "show";
            mwStyle += " " + modSize;
            break;

        case "Frame":
            var position = mStyle.GetProperty("framePosition").Value();
            mwStyle += " " + "modal-frame" + " " + (position.Equals("Bottom") ? "modal-bottom" : "modal-top") + " " + "modal-notify";
            overallStyle += " " + (position.Equals("Bottom") ? "bottom" : "top") + " " + "show";
            break;

        case "Side":
            var side = mStyle.GetProperty("sidePosition").Value();
            var sidePos = side.Equals("Top Right") || side.Equals("Bottom Right") ? "right" : "left";
            var modPos = "";
            if (side.Equals("Top Right"))
            {
                modPos = "modal-top-right";
            }
            if (side.Equals("Top Left"))
            {
                modPos = "modal-top-left";
            }
            if (side.Equals("Bottom Right"))
            {
                modPos = "modal-bottom-right";
            }
            if (side.Equals("Bottom Left"))
            {
                modPos = "modal-bottom-left";
            }
            mwStyle += " " + "modal-side" + " " + modPos;
            overallStyle += " " + sidePos + " " + "show";
            break;

        case "Fluid":
            mwStyle += " " + "modal-fluid";
            var fluid = mStyle.GetProperty("fluidPosition").Value();
            break;
    }

    <!-- The Modal -->
    <div class="@overallStyle" id="@title" role="dialog" >
        <div class="@mwStyle" role="document">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title">@header</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    @foreach (var i in imageList)
                    {
                        var cardImage = i.Value<IPublishedContent>("Url");
                        if (cardImage != null)
                        {
                            <img src="@cardImage.Url" style="width:200px;" alt="@cardImage.Name" />
                        }
                        
                    }
                    <h4>@subTitle</h4>
                    @if (allLinks.Count() > 0)
                    {
                        foreach (var selLink in allLinks)
                        {
                            <a href="@selLink.Url" class="tooltip-test" target="@selLink.Target" title="Tooltip">@selLink.Name</a>
                        }
                    }
                    @*ToolTips*@
                    <p>@if (allTooltips.Count() > 0)
                        {
                            foreach (var tip in allTooltips)
                            {
                                var toolTipTitle = tip.Value<string>("title");
                                var toolTipText = tip.Value<string>("text");
                                var toolTipPosition = tip.Value<string>("position");
                                @Umbraco.RenderMacro("Tooltip", new { title = toolTipTitle, text = toolTipText, position = toolTipPosition })
                            }
                        }
                    </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <p>@footer</p>
                    <br/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>

    </div>
}

