﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web.Models;
@{
    var panels = Model.Value<IEnumerable<IPublishedElement>>("panels");
}
<div class="row">
    @foreach(var panel in panels)
    {
        var image = panel.Value<IPublishedContent>("image");
        var link = panel.Value<Link>("link");
        <div class="col-lg-4" style="margin-bottom: 30px">
            <div class="navigation-panel">
                <img class="img-fluid" src="@image.Url">
                <h3>@panel.Value("heading")</h3>
                <p>@panel.Value("description")</p>
                <a href="@link.Url">Find out more</a>
            </div>
        </div>
    }
</div>