﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{
    Layout = null;
    var Id = Model.ContentType.Id;
    var parentId = this.ViewData.ContainsKey("ParentId") ? this.ViewData["ParentId"].ToString() : string.Empty;
    var currentPage = this.ViewData.ContainsKey("Page") ? this.ViewData["Page"] : 0;
    List<IPublishedElement> allItems = this.ViewData.ContainsKey("ResourceList") ? (List<IPublishedElement>)this.ViewData["ResourceList"] : null;
    string sizing = Model.Value<string>("Sizing");
    bool hasIcon = Model.Value<bool>("Icon");
    string alignment = Model.Value<string>("Alignment");
    var alignStyle = "pagination";
    var itemsPerPage = Model.Value<int>("NosItems");
    var sizeStyle = "";
    bool pagingNeeded = false;

    var page = 1; int.TryParse(Request.QueryString["page"], out page);
    int totalPages = 0;
    double totalItem = allItems.Count();

    /* Calculate the total number of pages needed */
    if (itemsPerPage > 0)
    {
        totalPages = (int)Math.Ceiling((double)allItems.Count() / (int)itemsPerPage);
        /* Check to see if paging is needed*/
        pagingNeeded = allItems.Count() <= itemsPerPage ? false : true;
    }

    if (page > totalPages)
    {
        page = totalPages;
    }
    else if (page < 1)
    {
        page = 1;
    }
}

@switch (alignment)
{
    case "Left":
        /* default value*/
        alignStyle = "pagination";
        break;
    case "Centre":
        alignStyle = "pagination justify-content-center";
        break;
    case "Right":
        alignStyle = "pagination justify-content-end";
        break;
}

@switch (sizing)
{
    case "Large":
        /* default value*/
        sizeStyle = "pagination-lg";
        alignStyle += " " + sizeStyle;
        break;
    case "Small":
        sizeStyle = "pagination-sm";
        alignStyle += " " + sizeStyle;
        break;
}

@if (pagingNeeded.Equals(true))
{

    <nav aria-label="Navigation">
        <ul class="@alignStyle" style="margin:20px 0" id="pageId">

            <li class="@(page == 1 ? "page-item disabled" : "page-item")">
                @if (hasIcon.Equals(true))
                {
                    <a class="page-link"  href="?page==1?page:page-1#pageId" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                }
                else
                {
                    <a class="page-link" href="?page==1?page:page-1#pageId">Previous</a>
                }
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="@(i == page ? "page-item active" : "page-item")">
                    <a class="page-link" href="?page=@i#pageId">@i</a>
                </li>
            }

            <li class="@(page == totalPages ? "page-item disabled" : "page-item")">
                @if (hasIcon.Equals(true))
                {
                    <a class="page-link" href="?page=@(page+1)#pageId" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                }
                else
                {
                    <a class="page-link" href="?page=@(page+1)#pageId">Next</a>
                }
            </li>

        </ul>
    </nav>
}
