﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{

    Layout = null;
    var first = Model.ContentType;
    var allBars = Model.Value<IEnumerable<IPublishedElement>>("progressItem");
    var multiple = Model.Value<string>("multiple");
}

@if (multiple.Equals("True"))
{
    <div class="container progress">
        @foreach (var bar in allBars)
        {
            @Html.Partial("NestedContent/Progress", bar, new ViewDataDictionary(this.ViewData) { { "multiple", @multiple } });
        }
    </div>

}
else
{
    foreach (var bar in allBars)
    {
        @Html.Partial("NestedContent/Progress", bar, new ViewDataDictionary(this.ViewData) { { "multiple", @multiple } });
    }
}

