﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{

    Layout = null;
    var item = Model.ContentType;
    var height = Model.Value<decimal>("height");
    var label = Model.Value<string>("label");
    var background = Model.Value<string>("background");
    var animated = Model.Value<bool>("animated");
    var striped = Model.Value<bool>("striped");
    var min = Model.Value<decimal>("minValue");
    var max = Model.Value<decimal>("maxValue");
    var backgroundStyle = "";
    var multiple = (string)ViewData["multiple"];
    var barStyle = "progress-bar";

}
@switch (background)
{
    case "Primary":
        backgroundStyle = "bg-primary";
        break;
    case "Secondary":
        backgroundStyle = "bg-secondary";
        break;
    case "Success":
        backgroundStyle = "bg-success";
        break;
    case "Danger":
        backgroundStyle = "bg-danger";
        break;
    case "Warning":
        backgroundStyle = "bg-warning";
        break;
    case "Info":
        backgroundStyle = "bg-info";
        break;
    case "Light":
        backgroundStyle = "bg-light";
        break;
    case "Dark":
        backgroundStyle = "bg-dark";
        break;

}

@if (striped.Equals(true))
{
    barStyle += "-striped";
}

@if (animated.Equals(true))
{
    barStyle += "-animated";
}

@if (!background.Equals(""))
{
    barStyle += " " + backgroundStyle;
}


@if (multiple != null)
{
    <div class="@barStyle" role="progressbar" style="width: 25%; height:@height+'px'" aria-valuenow="25" aria-valuemin="@min" aria-valuemax="@max">@label</div>
}
else
{
    <div class="container progress">
        <div class="@barStyle" role="progressbar" style="width: 25%;height:@height+'px'" aria-valuenow="25" aria-valuemin="@min" aria-valuemax="@max">@label</div>
    </div>
}