﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web;
@using Umbraco.Web.Models;
@{
    var link = Model.Value<Link>("link");
    var resourceType = Model.Value<string>("resourceItemType");
    DateTime dateAdded = (DateTime)Model.Value("dateAdded");
}

@if (link != null)
{
    <a href="@link.Url" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start @resourceType">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@link.Name</h5>
            <small>@dateAdded.ToShortDateString()</small>
        </div>
        <p class="mb-1">@Model.Value("description")</p>
    </a>
}
