﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web;
@using Umbraco.Web.Models;
@{
    var link = Model.Value<Link>("link");
    var resourceType = Model.Value<string>("resourceItemType");
    DateTime dateAdded = (DateTime)Model.Value("dateAdded");
}

@if (link != null)
{
    <div class="row">
        <div class="col">
            <div class="list-group resource-list">
                @Html.Partial("NestedContent/Resource", Model)
            </div>
        </div>
    </div>
}
