﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{
    Layout = null;
    var resourceList = Model.Value<IEnumerable<IPublishedElement>>("item");
    bool pagination = Model.Value<bool>("pagination");
    int pageSize = Model.Value<int>("nosItems"); ;
    int totalPages = 1;
    string viewResource = " View resource";
    IPublishedElement parentContent = Umbraco.Content(Model.ContentType.Id);

    var page = 1; int.TryParse(Request.QueryString["page"], out page);
    if (pagination && resourceList.Count() > 0)
    {

        pageSize = Model.Value<int>("nosItems");
        totalPages = (int)Math.Ceiling((double)resourceList.Count() / (int)pageSize);
        if (page < 1)
        {
            page = 1;
        }
        if (page > totalPages)
        {
            page = totalPages;
        }
    }
    else
    {
        pageSize = resourceList.Count();
    }

}

@if (resourceList != null)
{
    <div class="row">
        <div class="col">
            <div class="list-group resource-list">
                @foreach (var item in resourceList.Skip((page - 1) * (int)pageSize).Take((int)pageSize))
                {
                    @Html.Partial("NestedContent/Resource", item)
                }
            </div>

            @if (pagination)
            {
                Html.Partial("~/Views/Partials/NestedContent/Pagination.cshtml", Model, new ViewDataDictionary { { "ParentId", Model.ContentType.Id }, { "Page", page.ToString() }, { "ResourceList", resourceList } });
            }
        </div>
    </div>

}

@section Scripts {
    <script type="text/javascript">
        window.scrollTo = function () { }
        //$(document).ready(function () { 
                //    $(".pageId").change(function (e) {
                //        e.preventDefault();
                //    });
                //});
    </script>
}