﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var align = Model.Value<string>("align") == null ? "left" : Model.Value<string>("align").ToLower();
    var text = Model.Value<dynamic>("text");
}
<div class="row">
    <div class="col">
        <div class="text-@align">@Html.Raw(text)</div>
    </div>
</div>

