﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var image = Model.Value<IPublishedContent>("image");
    var imageAlign = Model.Value<string>("imageAlign") == null ? "left" : Model.Value<string>("imageAlign").ToLower();
    var margin = "mr-2";
    if (imageAlign.Equals("right"))
    {
        margin = "ml-2";
    }
    var align = Model.Value<string>("textAlign") == null ? "left" : Model.Value<string>("textAlign").ToLower();
    var text = Model.Value<dynamic>("text");
}
<div class="row">
    <div class="col">
        <div class="clearfix">
            <img src="@image.GetCropUrl()" class="img-fluid rounded float-@imageAlign @margin" alt="@image.Name">
            <div class="text-@align">@Html.Raw(text)</div>
        </div>
    </div>
</div>