﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web.Models;
@{
    var size = string.IsNullOrEmpty(Model.Value<string>("size")) ? "h2" : Model.Value<string>("size").ToLower();
    var align = Model.Value<string>("align") == "" ? "left" : Model.Value<string>("align").ToLower();
    string heading = Model.Value<string>("heading");
    var caseType = Model.Value<string>("case");
}
<div class="row">
    <div class="col">
        <@size class="text-@align text-@caseType">
            @heading
            @if (Model.HasValue("secondaryText"))
            {
                <small class="text-muted">@Model.Value("secondaryText")</small>
            }
        </@size>
    </div>
</div>