﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{
    Layout = null;
    var Id = Model.ContentType.Id;
    string title = Model.Value<string>("Title");
    var colour = Model.Value<string>("Colour");
    var grow = Model.Value<bool>("Growing");
    var size = Model.Value<string>("Size");
    var speed = Model.Value<string>("Speed");
    var placement = Model.Value<string>("Placement");
    var spinClass = "spinner-border";
    var spinColour = "text-primary";
    var spinSize = "";
    var cStyle = "";
    var placementClass = "d-flex";
    var defaultTxt = "Loading...";
}

@if (grow.Equals(true))
{
    spinClass = "spinner-grow";
}

@switch (colour)
{
    case "Muted":
        spinColour = "text-muted";
        break;
    case "Primary":
        spinColour = "text-primary";
        break;
    case "Secondary":
        spinColour = "text-secondary";
        break;
    case "Success":
        spinColour = "text-success";
        break;
    case "Danger":
        spinColour = "text-danger";
        break;
    case "Warning":
        spinColour = "text-warning";
        break;
    case "Info":
        spinColour = "text-info";
        break;
    case "Light":
        spinColour = "text-light";
        break;
    case "Dark":
        spinColour = "text-dark";
        break;
}


@switch (size)
{
    case "Default":
        spinSize = "";
        break;
    case "Small":
        spinSize = "";
        if (grow.Equals(true))
        {
            spinClass += " " + "spinner-grow-sm";
        }
        else
        {
            spinClass += " " + "spinner-border-sm";
        }

        break;
    case "Medium":
        spinSize = "";
        if (grow.Equals(true))
        {
            spinClass += " " + "spinner-grow-md";
        }
        else
        {
            spinClass += " " + "spinner-border-md";
        }
        break;

    case "Large":
        spinSize = "";
        if (grow.Equals(true))
        {
            spinClass += " " + "spinner-grow-lg";
        }
        else
        {
            spinClass += " " + "spinner-border-lg";
        }

        break;
}

@switch (placement)
{
    case "Start":
        placementClass += " " + "justify-content-start";
        break;
    case "End":
        placementClass += " " + "justify-content-end";
        break;
    case "Center":
        placementClass += " " + "justify-content-center";
        break;
}

@if (!spinColour.Equals(""))
{
     spinClass += " " + spinColour;
}

@if (placement != null)
{
    <div class="@placementClass">
        <div class="@spinClass" role="status">
            <span class="sr-only">@defaultTxt</span>
        </div>
    </div>
}
else
{
    <div class="@spinClass" role="status">
        <span class="sr-only">@defaultTxt</span>
    </div>
}


