﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{
    Layout = null;
    var items = Model.Value<IEnumerable<IPublishedElement>>("tabItem");
    int i = 0, y = 0;
}
<div class="row mb-2">
    <div class="col">
        <ul class="nav nav-tabs" role="tablist">
            @foreach (var item in items)
            {
                i++;
                string tabId = "tab" + i;
                string contentId = "content" + i;
                string cssClass = i == 1 ? "nav-link active" : "nav-link";
                string expanded = i == 1 ? "true" : "false";

                <li class="nav-item">
                    <a class="@cssClass" id="@tabId" data-toggle="tab" href="#@contentId" role="tab" aria-controls="@contentId" aria-expanded="@expanded">
                        @item.Value("title")
                    </a>
                </li>
            }
        </ul>
        <div class="tab-content">
            @foreach (var item in items)
            {
                y++;
                string tabId = "tab" + y;
                string contentId = "content" + y;
                string cssClass = y == 1 ? "tab-pane container active" : "tab-pane container fade";

                var components = item.Value<IEnumerable<IPublishedElement>>("components");

                <div class="@cssClass" id="@contentId" role="tabpanel" aria-labelledby="@tabId">
                @if (components.Count() > 0)
                {
                    foreach (var component in components)
                    {
                        string fileName = component.ContentType.Alias.ToFirstUpper();
                        @Html.Partial("NestedContent/" + fileName, component);
                    }
                }
                </div>
            }
        </div>
    </div>
</div>
