﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{

    Layout = null;
    var Id = Model.ContentType.Id;
    var title = Model.Value<string>("title");
    var headerTxt = Model.Value<string>("header");
    var bodyTxt = Model.Value<string>("body");
}

<button type="button" class="btn btn-primary" data-header="@headerTxt" data-body="@bodyTxt" data-id="@Id" id="toastBtn">Show Toast</button>

<div id="@Id" style="opacity:inherit"></div>


