﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models
@{
    var items = Model.Value<IEnumerable<IPublishedElement>>("playlist");
    int i = 0;
}

@if (items.Count() > 0)
{
    <div id="accordion" role="tablist">
        @foreach (var item in items)
        {
            i++;
            string headingId = "heading" + i;
            string collapseId = "collapse" + i;
            var title = item.Value("title");
            string fileName = item.ContentType.Alias.ToFirstUpper();

            if (i == 1)
            {
                <div class="card">
                    <div class="card-header" id="@headingId">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
                                @title
                            </button>
                            @if (item.HasValue("duration"))
                            {
                                <small class="text-muted">@item.Value("duration")</small>
                            }
                        </h5>
                    </div>
                    <div id="@collapseId" class="collapse show" role="tabpanel" aria-labelledby="@headingId" data-parent="#accordion">
                        <div class="card-body">
                            @Html.Partial("NestedContent/" + fileName, item)
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-header" id="@headingId">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                @title
                            </button>
                            @if (item.HasValue("duration"))
                            {
                                <small class="text-muted">@item.Value("duration")</small>
                            }
                        </h5>
                    </div>
                    <div id="@collapseId" class="collapse" role="tabpanel" aria-labelledby="@headingId" data-parent="#accordion">
                        <div class="card-body">
                            @Html.Partial("NestedContent/" + fileName, item)
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}