﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{
    Layout = "master.cshtml";
    var title = Model.Value<string>("title");
    var description = Model.Value<dynamic>("description");
    var link = Model.Value<Link>("returnLink");
}


<div class="container">
    <div class="row">
        <div class="col-lg-8 banner-content align-self-center">
            <h1>@title</h1>
            <p>@description</p>
            @if (link != null)
            {
                <p><a href="@link.Url">Return to the @link.Name page </a></p>
            }
            else
            {
                <p><a href="/">Return to the Homepage </a></p>
            }
        </div>
    </div>
</div>
