﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
    IPublishedContent current = Model.AncestorOrSelf(1);
    var components = Model.Value<IEnumerable<IPublishedElement>>("Component");
    string q = string.Empty;
    if (Request.QueryString["query"] != null)
    {
        q = Request.QueryString["query"].Trim();
    }
}

<form action="/search/" method="post" style="width:100%;">
    <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 red-border" results="5" value="@q" name="query" type="text" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="rounded-pill bg-primary text-white" type="submit" id="search">
                <i class="fa fa-search"></i>Search
            </button>
        </div>
    </div>
</form>


@if (components != null)
{
    foreach (var item in components)
    {
        string fileName = item.ContentType.Alias.ToFirstUpper();
        @Html.Partial("NestedContent/" + fileName, item);
    }
}
