﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc;
@using Umbraco.Web;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@Model.Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/editor.css">
    @*  @{
            Html.RequiresCss("css/bootstrap.min.css");
            Html.RequiresCss("~/css/editor.css");
        }*@

    @Html.RenderCssHere()
</head>
<body>

    @Html.Partial("Navbar")
    <main role="main" class="container" style="padding-top:58px;">
        @RenderBody()
    </main>
    @Html.Partial("Footer")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="~/js/feather/feather.min.js"></script>

    @Html.RenderJsHere()

    <script type="text/javascript">
        $(".pageId").click(function (e) {
                e.preventDefault();
                this.document.location(".pageId");
        });
    </script>
</body>
</html>
