﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
    IPublishedContent current = Model.AncestorOrSelf(1);
    var components = Model.Value<IEnumerable<IPublishedElement>>("components");
    var title = string.IsNullOrEmpty(Model.Value<string>("title")) ? Model.Name : Model.Value<string>("title");

    var newsItems = Model.Children;
    bool pagination = Model.Value<bool>("pagination");
    int pageSize = 0;
    int totalPages = 1;
    var page = 1;
    int.TryParse(Request.QueryString["page"], out page);
    if (pagination && newsItems.Count() > 0)
    {
        pageSize = Model.Value<int>("itemsPerPage");
        totalPages = (int)Math.Ceiling((double)newsItems.Count() / (int)pageSize);
        if (page < 1)
        {
            page = 1;
        }
        if (page > totalPages)
        {
            page = totalPages;
        }
    }
    else
    {
        pageSize = newsItems.Count();
    }
}

@Html.Partial("Breadcrumb")

<h1>@title</h1>

@if (components.Count() > 0)
{
    foreach (var item in components)
    {
        string fileName = item.ContentType.Alias.ToFirstUpper();
        @Html.Partial("NestedContent/" + fileName, item);
    }
}

<ul class="list-group">
    @foreach (var newsItem in newsItems.Skip((page - 1) * (int)pageSize).Take((int)pageSize))
    {
        var image = newsItem.Value<IPublishedContent>("image");
        DateTime date = newsItem.Value<DateTime>("date");

        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 align-self-center">
                    @if (newsItem.HasValue("image"))
                    {
                        <img class="img-fluid" src="@image.GetCropUrl()" alt="@image.Name" />
                    }
                </div>
                <div class="col-md-8">
                    <h6>@newsItem.Name</h6>
                    <ul>
                        <li>@date.ToString("dd/MM/yyyy")</li>
                    </ul>
                    <p>@newsItem.Value("longSummary")</p>
                    <a class="more-link" href="@newsItem.Url">
                        Find out more <i class="icon-arrow-right" data-feather="arrow-right"></i>
                    </a>
                </div>
            </div>
        </li>
    }
</ul>
@if (pagination && (newsItems.Count() > pageSize))
{
    <br/>
    <nav aria-label="News Listing Navigation">
        <ul class="pagination justify-content-center">
            <li class="@(page == 1 ? "page-item disabled" : "page-item")">
                <a class="page-link" href="?page=@(page-1)" tabindex="@(page == 1 ? totalPages : page - 1)" aria-disabled="@(page == 1 ? true : false)">Previous</a>
            </li>

            @for (int p = 1; p <= totalPages; p++)
            {
                if (p == page)
                {
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page=@p">@p <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@p">@p</a>
                    </li>
                }
            }

            <li class="@(page == totalPages ? "page-item disabled" : "page-item")">
                <a class="page-link" href="?page=@(page+1)" tabindex="@(page == totalPages ? 1 : page + 1)" aria-disabled="@(page == totalPages ? true : false)">Next</a>
            </li>
        </ul>
    </nav>
}