﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
    IPublishedContent current = Model.AncestorOrSelf(1);
    var components = Model.Value<IEnumerable<IPublishedElement>>("components");
    var title = string.IsNullOrEmpty(Model.Value<string>("title")) ? Model.Name : Model.Value<string>("title");
}

@Html.Partial("Breadcrumb")

<h1>@title</h1>

@if (components.Count() > 0)
{
    foreach (var item in components)
    {
        string fileName = item.ContentType.Alias.ToFirstUpper();
        @Html.Partial("NestedContent/" + fileName, item);
    }
}
<div class="row">
    <div class="col">
        <div class="text-center">
            <a class="btn btn-primary" href="@Model.Parent.Url">Back</a>
        </div>
    </div>
</div>