﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
    IPublishedContent current = Model.AncestorOrSelf(1);
    var components = Model.Value<IEnumerable<IPublishedElement>>("Component");
    var title = string.IsNullOrEmpty(Model.Value<string>("title")) ? Model.Name : Model.Value<string>("title");

    var subNavItems = Model.SiblingsAndSelf();
}

@Html.Partial("Breadcrumb")

<h1>@title</h1>

<div class="row">
    <div class="col-8">
        @if (components.Count() > 0)
        {
            foreach (var item in components)
            {
                string fileName = item.ContentType.Alias.ToFirstUpper();
                @Html.Partial("NestedContent/" + fileName, item);
            }
        }
    </div>
    <div class="col-4">
        <ul class="nav flex-column">
            @foreach (var subNavItem in subNavItems)
            {
                <li class="nav-item">
                    <a class="@(subNavItem.Id == Model.Id ? "nav-link active" : "nav-link")" href="@subNavItem.Url">@subNavItem.Name</a>
                </li>
            }
        </ul>
    </div>
</div>

