﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
	string loginLink = System.Configuration.ConfigurationManager.AppSettings["loginLink"].ToString();
}
<html>
<head>
<script>
	window.location.href = "@loginLink";
</script>
</head>
</html>