﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web
@using Newtonsoft.Json;
@*using Examine.LuceneEngine.SearchCriteria;*@
@{
    var i = 0;
    int first = 0;
    var items = 0;
    var results = 0;
    string pageTitle = string.Empty;
    Layout = "Master.cshtml";
    var pageSize = Model.Value("itemsPerPage");
    var searchQuery = Request.Form["query"] == null ? Request.QueryString["query"] : Request.Form["query"].Trim();
    var hide = "False";
    
    //var searcher = Examine.ExamineManager.Instance.SearchProviderCollection["CommunityHealthcareSearcher"];
    //var criteria = searcher.CreateSearchCriteria(UmbracoExamine.IndexTypes.Content);
    //var searchResults = searcher.Search(searchQuery, true).Distinct().OrderBy(x => x.Score).ToList();
    var searchResults = Umbraco.ContentQuery.Search(searchQuery).ToList();
   
    var page = 1; int.TryParse(Request.QueryString["page"], out page);
    foreach (var result in searchResults)
    {
        hide = result.Content.Value("umbracoSearchHide").ToString();
        if (hide.Equals("False"))
        {
            results++;
            items++;
        }
    }

    Dictionary<string, string> searchStrings = new Dictionary<string, string>();

    var totalPages = (int)Math.Ceiling((double)results / (int)pageSize);
    if (page < 1)
    {
        page = 1;
    }
    if (page > totalPages)
    {
        page = totalPages;
    }
    string previous = string.Empty;
    string next = string.Empty;
}

@Html.Partial("~/Views/Partials/Breadcrumb.cshtml")


<div id="skip-nav">
    <div class="container lg-mb-5 mb-md-0">
        <div class="row">
            <div class="col-lg-8">
                <div class="content-box">
                    <h2>@Model.Value("title")</h2>
                    <div class="search-list">
                        <div class="searchresults">
                            @if (!string.IsNullOrEmpty(searchQuery))
                            {
                                <p class="lead" id="title">@Model.Value("text") "<strong>@searchQuery</strong>".</p>
                                <p class="results-found">Total search results found: @results </p>
                                <div class="line-spacer-sm"></div>
                                foreach (var result in searchResults.Skip((page - 1) * (int)pageSize).Take((int)pageSize))
                                {
                                    hide = result.Content.Value("umbracoSearchHide").ToString();
                                    if (hide.Equals("False"))
                                    {
                                        IPublishedContent resultContent = result.Content;
                                        var breadcrumb = resultContent.Name;

                                        string txtString = string.Empty;
                                        var resultItems = resultContent.Value<IEnumerable<IPublishedElement>>("component").ToList();

                                        @* Need to look through the nested content
                                            .. TODO complete if correct         *@
                                        foreach (var components in resultItems)
                                        {
                                            foreach (var c_item in components.Properties.ToArray())
                                            {
                                                string resultTxt = string.Empty;
                                                switch (c_item.Alias)
                                                {
                                                    case "cards":
                                                        foreach (var elements in c_item.Value<IEnumerable<IPublishedElement>>("accordionCard"))
                                                        {
                                                            foreach(var cItem in elements.Properties)
                                                            {
                                                                resultTxt += cItem.Value<string>("title");
                                                                resultTxt += cItem.Value<string>("subTitle");
                                                                resultTxt += cItem.Value<string>("mainBody");
                                                            }
                                                        }

                                                        break;

                                                    case "accordion":
                                                        foreach (var elements in c_item.Value<IEnumerable<IPublishedElement>>())
                                                        {
                                                            foreach (var cItem in elements.Properties)
                                                            {
                                                            }
                                                        }
                                                        break;

                                                    case "link":
                                                        string sourceTxt = c_item.GetSourceValue("image").ToString();
                                                        sourceTxt = sourceTxt.Replace("\\","");
                                                        sourceTxt = sourceTxt.Replace("\"", "");

                                                        var allTxt = sourceTxt.Split(',').Distinct().ToArray();

                                                        foreach (var txt in allTxt)
                                                        {
                                                            if (txt.IndexOf(searchQuery, 0, StringComparison.CurrentCultureIgnoreCase) != -1)
                                                            {
                                                                int index = txt.IndexOf(":") + 1;
                                                                txtString += txt.Substring(index);
                                                            }
                                                        }
                                                        break;
                                                    default:
                                                        resultTxt += c_item.Value<string>("Name");
                                                        break;
                                                }

                                                if (!string.IsNullOrEmpty(resultTxt))
                                                {
                                                    if (resultTxt.IndexOf(searchQuery, 0, StringComparison.CurrentCultureIgnoreCase) != -1)
                                                    {
                                                        txtString += resultTxt;
                                                    }
                                                }

                                            }
                                        }
                                        
                                        <h5><a href=@resultContent.Url>@breadcrumb</a></h5>
                                        if (!string.IsNullOrEmpty(pageTitle))
                                        {
                                            <h6>@pageTitle</h6>
                                        }
                                        if (!string.IsNullOrEmpty(txtString))
                                        {
                                            @Html.Raw(txtString)
                                            <br />
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <p>No results were found.</p>
                            }
                        </div>


                        <ul class="pagination justify-content-center">
                            @{previous = "/search?query=" + searchQuery + "&page=" + totalPages;
                                next = "/search?query=" + searchQuery + "&page=" + 1; }
                            <li class="@(page == 1 ? "page-item disabled" : "page-item")">
                                <a class="page-link" href="@(page > 1 ? "/search?query="+ searchQuery+ "&page=" + (page-1).ToString() : @previous)" tabindex="@(page == 1 ? totalPages : page-1)" aria-disabled="@(page ==1 ? true : false)">
                                    Previous
                                </a>
                            </li>
                            @for (int p = 1; p <= totalPages; p++)
                            {
                                <li class="@(p == page ? "page-item active" : "page-item")" aria-current="page">
                                    <a class="page-link" href="@("/search?query="+searchQuery + "&page=" + p)"><span>@p</span></a>
                                </li>
                            }
                            <li class="@(page == totalPages ? "page-item disabled" : "page-item")">
                                <a class="page-link" href="@(page < totalPages ? "/search?query="+ searchQuery+ "&page=" + (page+1).ToString() : @next)" tabindex="@(page==totalPages ? 1 : page+1)" aria-disabled="@(page == totalPages ? true : false)">
                                    Next
                                </a>
                            </li>
                        </ul>

                        <br>

                        <div class="button-controls-m text-center">
                            <a class="btn btn-primary" href="/home" role="button">Back to home</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


