﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>

@using Umbraco.Web.Models;
@{
    var parent = Umbraco.AssignedContentItem;
    var alert = Model.ContentType;
    var key = Model.Key;
    //var allLinks = Model.Value<IEnumerable<Link>>("link").ToArray();
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#myAlert-@key').click(function () {
            var alertType = $(this).attr("data-alert-type");
            var title = $(this).attr("data-title");
            var subTitle = $(this).attr("data-subtitle");
            var linkName = $(this).attr("data-link-name");
            var linkUrl = $(this).attr("data-link-url");
            var linkTarget = $(this).attr("data-target");
            var htmlTxt = "";
            
            if (subTitle == "")
            {
                htmlTxt = '<div class="' + alertType + ' role="alert"><h4>' + title + '</h4>';
                if (linkName != 'undefined') {
                    htmlTxt += '<a href="' + linkUrl + '" class="alert-link" target="' + linkTarget + '">' + linkName + '</a>';
                }
                htmlTxt += '<a class="close" data-dismiss="alert">&times;</a></div>';
                return $('#show_Alert').html(htmlTxt)
            }
            else
            {
                htmlTxt = '<div class="' + alertType + '" role="alert"><h4>' + title + '</h4>';
                htmlTxt += '<span><p>' + subTitle + '</p></span>';
                if (linkName != 'undefined') {
                    htmlTxt += '<a href="' + linkUrl + '" class="alert-link" target="' + linkTarget + '">' + linkName+ '</a>';
                }
                htmlTxt += '<a  class="close" data-dismiss="alert">&times;</a></div>'

                return $('#show_Alert').html(htmlTxt);
            }
        });

    });
</script>