﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@{
    var parent = Umbraco.AssignedContentItem;
    var modal = Model.ContentType;
    var Id = Model.ContentType.Id;
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#btnClose').on('click', function (event) {
            alert();
            event.preventDefault();
        });

   
        $('#modal-@Id').click(function () {
           
        });

    });
</script>