﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using Umbraco.Web.Models;
@{ 
    var Id = Model.ContentType.Id;
}

<script>
    $(document).ready(function () {
        var toastId = document.getElementById(@Id);

  $("#toastBtn").click(function(){
      @*$('.'+@Id).toast('show');*@

      var tId = $(this).attr("data-id");
      var header = $(this).attr("data-header");
      var body = $(this).attr("data-body");
      var htmlTxt = "";

      htmlTxt = '<div class="toast show" id="'+ tId + '" role="alert" aria-live="assertive" aria-atomic="true">';
      htmlTxt += '<div class="toast-header">';
      htmlTxt += '<strong class="mr-auto text-primary">' + header + '</strong>';
      htmlTxt += '<button type="button" class="close ml-2 mb-1" data-dismiss="toast"><span aria-hidden="true">&times;</span></button>';
      htmlTxt += '</div>';
      htmlTxt += '<div class="toast-body">' + body + '</div>';
      htmlTxt += '</div>';
      return $('#' + tId).html(htmlTxt).show();
   });

   $('#'+@Id).click(function () {
     $('#'+@Id).hide();
   });


});
</script>