﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Models;
@{

    Layout = null;
    var currentPage = Umbraco.AssignedContentItem.Name;
    var currentUrl = Umbraco.AssignedContentItem.Url;
    var allPages = Umbraco.AssignedContentItem.AncestorsOrSelf();
    IPublishedContent home = Umbraco.ContentAtRoot().First();
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var page in allPages.OrderBy(x => x.Level))
        {
            var pageName = string.IsNullOrEmpty(page.Value<string>("title")) ? page.Name : page.Value<string>("title");
            if (page.Level > 1)
            {

                if (!page.Url.Equals(currentUrl) && !page.Name.Equals("Search"))
                {

                    <li class="breadcrumb-item">
                        <a href="@page.Url">@pageName</a>
                    </li>
                }
                else
                {
                    if (!page.Name.Equals("Search"))
                    {
                        <li class="breadcrumb-item active" aria-current="page">
                            @pageName
                        </li>
                    }
                }
            }
            if (page.Level == 1)
            {
                <li class="breadcrumb-item"><a href="@home.Url">@home.Name</a></li>
            }

        }

    </ol>
</nav>
