﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
<hr />
<footer>
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
    <p>
        Designed and developed by <a href="http://www.aurionlearning.com">Aurion Learning</a>
    </p>
</footer>