﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{  
    IPublishedContent home = Umbraco.ContentAtRoot().First();
    var selection = home.Children.Where(x => x.IsVisible());
    var currentPage = Umbraco.AssignedContentItem;
    var active = Model.Name.Equals("Home") ? "nav-link active" : "nav-link";
}

@if (selection.Count() > 0)
{
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="@active" href="@home.Url">@home.Name <span class="sr-only">(current)</span></a>
            </li>
            @foreach (var item in selection)
            {
                var subPages = item.Children.Where(x => x.IsVisible());
                if (subPages.Count() > 0)
                {
                    var activeDrop = item.IsAncestorOrSelf(Model) ? "nav-link dropdown-toggle active" : "nav-link dropdown-toggle";
                    var itemName = string.IsNullOrEmpty(item.Value<string>("title")) ? item.Name : item.Value<string>("title");
                    <li class="nav-item dropdown">
                        <a class="@activeDrop" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@itemName</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            @foreach (var subItem in subPages)
                            {
                                var pageName = string.IsNullOrEmpty(subItem.Value<string>("title")) ? subItem.Name : subItem.Value<string>("title");
                                <a class="nav-link dropdown-item bg-dark" href="@subItem.Url">@pageName</a>
                            }
                        </div>
                    </li>
                }
                else
                {
                    var itemName = string.IsNullOrEmpty(item.Value<string>("title")) ? item.Name : item.Value<string>("title");
                    <li class="nav-item @(item.IsAncestorOrSelf(Model) ? "active" : null)">
                        <a class="nav-link" href="@item.Url">@itemName</a>
                    </li>
                }
            }
        </ul>
    </div>   
</nav>
}